
.BarDiscount{
    position: absolute;
    width: 1024px;
    height: 38px;
    left: 0px;
    top: 0px;
    background: #1CD1B0;
    color:white;
}

header{
    box-sizing: border-box;
    position: absolute;
    width: 1024px;
    height: 101px;
    left: 0px;
    top: 38px;
    background: #00669F;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
}

.batman1{
    position: absolute;
    width: 300px;
    height: 529px;
    left: 32px;
    top: 292px;
    background: #F3F3F3;
    
}

.Harley{
    position: absolute;
    width: 300px;
    height: 529px;
    left: 362px;
    top: 292px;
    background: #F3F3F3;
}

.Batman2{
    position: absolute;
    width: 300px;
    height: 529px;
    left: 692px;
    top: 292px;
    background: #F3F3F3;
}

h2{
    text-align: center;
    position: absolute;
    width: 171px;
    height: 35px;
    left: 64px;
    right: 64px;
    top: 250px;
    bottom: 10px;
}

.fondo_bataman1{
    position: absolute;
    width: 120px;
    height: 118px;
    left: 122px;
    top: 421px;
    background: url(batman);

}
footer{
    background: #00669F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    width: 1024px;
    height: 51px;
    left: 0px;
    top: 972px;    
}
.FRONEND1{
    text-align:center;
    color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.contRightUp {
    position: absolute;
    width: 300px;
    height: 193px;

    background: url(../img/coverbat.png);
    border-radius: 16px 16px 0px 0px;
    
}
.imgbatman1{
    position: absolute;
    width: 120px;
    height: 118px;
    left: 90px;
    right: 90px;
    top: 128px;
    /*bottom: 53px;*/
    border-radius: 50%;
    overflow: hidden;
    
}
.imgharley{
    position: absolute;
    width: 120px;
    height: 118px;
    left: 90px;
    right: 90px;
    top: 128px;
    /*bottom: 53px;*/
    border-radius: 50%;
    overflow: hidden;
}
.imgbatman2{
    position: absolute;
    width: 120px;
    height: 118px;
    left: 90px;
    right: 90px;
    top: 128px;
    /*bottom: 53px;*/
    border-radius: 50%;
    overflow: hidden;
}

.content1{
    position: absolute;
    width: 267px;
    height: 113px;
    left: 18px;
    right: 709px;
    top: 300px;
    bottom: 307px;
    font-family: 'roboto';
    text-align: left;
    font-size: 16px;
    line-height: 19px;
}
.content2{
    position:absolute;
    width: 267px;
    height: 113px;
    left: 18px;
    right: 709px;
    top: 300px;
    bottom: 307px;
    font-family: 'roboto';
    text-align: left;
    font-size: 16px;
    line-height: 19px;
}
.content3{
    position: absolute;
    width: 267px;
    height: 113px;
    left: 18px;
    right: 709px;
    top: 300px;
    bottom: 307px;
    font-family: 'roboto';
    text-align: left;
    font-size: 16px;
    line-height: 19px;
}

.boton-azul {
    position: absolute;
    width: 128.78px;
    height: 48.52px;
    left: 85px;
    right: 85px;
    top: 450px;
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
  }