body{
    background-color: rgb(250, 192, 250);
    font-family: sans-serif;
    text-align: justify;
}
.titulo {
    background-color: rgb(248, 6, 180);
    color: white;
}
.redes {
    background-color: rgb(248, 126, 213);
    color: white;
}

