* {
    box-sizing: border-box;
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
}
.container{
    margin: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header{
    background-color:white;
    color:black;  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;  
    padding: 65px, 165px, 65px, 165px;
    height: 174px;
}

ul.menu{
    padding: 16px;
    width: 397px;
    height: 23px;
    display: flex;
    justify-content: space-around;
    align-items: center;     
}

.button-purple{
    background-color: #8B48BF;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    color: white;
    width: 134px;
    height: 44px;
    padding: 10px;
    border-radius: 50px;
    font-size: 16px;
}

.frame1{
    padding: 10px 10px; 
    height: 643px;
    display: flex;
    justify-content: space-around;
}
.foto{
    padding: 10px 10px; 
    width: 540px;
    height: 462px;
}
.Frase-home{
    padding: 10px 10px; 
    width: 400px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    text-align:right;
}
h1{
    height: 228px;
    font-size: 40px; 
}

.frame2{
    background-color: #8B48BF;
    padding: 10px 10px; 
    height: 168px;
    color:white;
    display: flex; 
    justify-content: space-around;
    align-items: center;
}

h2{
    padding: 10px 10px; 
    width: 450px;
    height: 88px;
    font-size: 36px;
    text-align: left; 
}
.frame2-p3{    
    padding: 10px 10px; 
    width: 450px;
    height: 88px;
    text-align: justify;
}

.frame3{
    background-color:#FAFAFA;
    height: 428px;
    display: flex;
    justify-content: space-around;   
}
.button-purple2{
    background-color: #8B48BF;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    color: white;
    width: 70px;
    height: 43px;
    padding: 10px;
    border-radius: 30px;
    font-size: 16px;
}
.frame4{
    height: 237px;
    display: flex;
    justify-content:center;
}
.frame5{
    height: 280px;
    display: flex;
    justify-content: space-around;
}
.Group1{
    width: 445px;
    height: 220px;
    background: #F3F3F3;
    display: flex;
    flex-direction: column;
    justify-content:center
}
.Group2{
    width: 445px;
    height: 220px;    
    background: #F3F3F3;
    display: flex;
    flex-direction: column;
    justify-content:center;
}
.Group3{
    width: 445px;
    height: 220px;  
    background: #F3F3F3;
    display: flex;
    flex-direction: column;
    justify-content:center;
}
.h4{
    display: flex;
    justify-content:center;
}

.frame6{
    height: 278px;
    display: flex;
    justify-content:center;
    align-items: center;
}
.frame7{
    background-color:#8B48BF;
    padding: 10px 10px; 
    color:white;
    height: 224px;
    display: flex; 
    justify-content: space-around;
    align-items: center;
}
.frame7-p7{
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    color:black;
    width: 134px;
    height: 44px;
    padding: 10px;
    font-size: 14px;
}


footer{
    background-color: rgb(4, 4, 4);
    padding: 10px 10px; 
    color:white;
    height: 247px;
    display: flex;  
    justify-content: space-between;
    align-items: center; 
    }

.menu-footer li {
    display: flex;
    margin-right: 10px;
    }    

.logo2{
    display: flex;   
    justify-content:flex-end;
    width: 240px;
    height: 110px;
    padding: 10px;
   
}
.menu2{
    display: flex;
    flex-direction: column;    
    padding:0;
    justify-content:flex-start;
    
}
button.p7{
    width: 201px;
    height: 44px;
    background: #FFFFFF;
    border-radius: 50px;
}
.button-purple7{
    width: 63px;
    height: 42px;
    background: #8B48BF;
    border-radius: 50px;
}











